package app

import "templ-tutorial/buttons"

templ hello(name string) {
	<div>Hello, { name }</div>
}

templ header() {
	<head>
		<title>Hello Chumps!</title>
	</head>
}
templ Page() {
	<html>
		@header()
		<body>
			@hello("Dave")
			@buttons.Button("Click me!")
		</body>
	</html>
}